{% extends 'partials/_master.twig' %}

{% block category %}
    <div class="tiles">
        {% set items = record.related() %}
        {% for item in items %}
            {% include 'partials/_product.twig' %}
        {% endfor %}
    </div>
{% endblock category %}
